* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.flip {
  transform: rotate(180deg);
}


.el-dropdown-menu__item {
  white-space: nowrap;
}


.el-pager {
  .active {
    color: #409eff;
  }
}
.el-pagination.is-background {
  .el-pager {
    li.active {
      color: #fff;
      background-color: #409eff;
    }
  }
}
